<!--
  Checar (ngIf) student é como checar se não é nulo ou indefinido.
  Então, se student não é nulo ou indefinido, exibe a div
-->
<div *ngIf="student">
  <!-- 
    O operador '?' indica que, no exemplo abaixo, caso student seja nulo, não precisa avaliar o que tem depois, no exemplo, name
  -->
  Student: <a href="#" (click)="clicked()">{{student?.name}}</a>
  <div *ngIf="student.isJedi">
    Jedi Temple: Coruscante <button (click)="description.focus()">Focus!</button> <br>
    <!-- 
      Variável de template #description. Pode ser utilizada no template ou até mesmo em métodos
    -->
    <textarea #description></textarea>
  </div>
</div>

<p *ngIf="!student" >
  Sem dados para exibir
</p>